<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 id="name1"><b>katie<span id="period">_</span><span>black</span></b></h1>
    <br><br>


    <div id="about">
    <h2 id="aboutme">About</h2> <br>

    <p id="hiwelcome">Hi, and welcome!</p><br>
    <p id="aboutpara">I'm a junior full-stack web developer, as well as a Biologist and avid sports fan.  By all means, browse around. You'll find my GitHub, Linkedin and Twitter all from the associated icons below.  Also, visit the Projects page to see a list of some of the works I've completed or that are currently in-process.</p>

    <ul class="icons-ul">
          <li>
            <a href="https://github.com/ktblk" class="fa fa-github-square fa-3x" target="_blank"></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/katie-black-86547a102" class="fa fa-linkedin-square fa-3x" target="_blank"></a>
          </li>
          <li>
            <a href="https://twitter.com/kgblk" class="fa fa-twitter-square fa-3x" target="_blank"></a>
          </li>
        </ul>
        <a href="../contact/index" id="contact">
          Contact
        </a>
      </div>

        <a href="/home/index" id="back"style="font-size: 20px; font-family: Avenir; position: absolute; bottom: 1px; left: 5px;">Home</a>
        <a href="/about/show" id="projects"style="font-size: 20px; font-family: Avenir; position: absolute; bottom: 1px; right: 5px;">Projects</a>

  </body>
</html>
